.comment-content {
    resize: none;
}

div.vertical {
    border-left: thick solid #ff0000 !important;
    padding-left:15px;
}

.block {
    display: block !important;
}

.subject-header {
    padding: 10px;
    width: 80%;
    line-height:25px;
    box-shadow: inset 0.6em 0.6em 2em rgba(101, 146, 189, 0.5);
    display: flex;
}

.small-line-height {
    line-height:5px;
}

.subject-footer {
    margin-top: 10px;
    box-shadow: inset 0.6em 0.6em 2em rgba(101, 146, 189, 0.5);
    display: flex;
}

.empty {
    width: 100%;
    height: 40px;
}

iframe {
    padding:10px;
    border: 2px solid darkorange;
    margin: 10px;
    margin-left: 0px !important;
    display: flex;
    text-decoration: underline dotted;
    border-radius: 14px;
}

.investment {
    padding:10px;
    border: 2px solid darkorange;
    width: 70%;
    margin: 10px;
    margin-left: 0px !important;
    display: flex;
    text-decoration: underline dotted;
    border-radius: 14px;
}

.filetype {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.comment-body {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding:1%;
    margin:1%;
    margin-right:50%;
    border-radius: 10%;
}

.material-body {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding:1%;
    margin:1%;
    margin-right:50%;
    border-radius: 10%;
    line-height:5px;
}

.comment-header {
    box-shadow: 0.6em 0.6em 2em rgba(101, 146, 189, 0.5);
    display: flex;
}

.comment-button {
    font-size: 14px;
    color: lightseagreen;
}

.right {
    justify-content: flex-start;
}

.left {
    justify-content: flex-end;
}
