{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/materials/style.css' %}">{% endblock %}

{% block content %}
<div class="auth-content">
    <div class="form-wrapper">
        <h2 class="form-title">Step 2: add investments</h2>
        <form method="post" class="styled-form" enctype="multipart/form-data" action="{% url 'investment_create' pk=pk %}">
            {% csrf_token %}
            <div class="form-field flex">
                <label for="media">
                <input type="file" id="media" name="media" required>
                <button type="submit" class="auth-btn width-30">Add file</button>
                </label>
            </div>
        </form>
        <form method="post" class="styled-form" action="{% url 'investment_create' pk=pk %}">
            {% csrf_token %}
            <div class="form-field flex">
                <label name="adress">
                <input type="url" id="adress" name="adress" required>
                <button type="submit" class="auth-btn">Add url</button>
                </label>
            </div>
        </form>
        <div>
            {% for investment in investments %}
                {% if investment.adress %}
                    {% if investment.is_youtube %}
                        <div class="investment">
                            <iframe src="https://youtube.com/embed/{{ investment.get_youtube_scr }}"
                                allowfullscreen
                                scrolling="no"
                                allow="accelerometer *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture *; web-share *;">
                            </iframe>
                            <form method="post" action="{% url 'investsment_delete' pk=investment.pk %}" class="left-auto">
                                {% csrf_token %}
                                <button type="submit">❌</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="investment">
                            <img class="filetype" src="{% static 'img/url.png' %}">
                            <div class="investment-text">
                                <a href="{% url 'investment_details' pk=investment.pk %}">{{ investment.get_domen }}</a>
                            </div>
                            <form method="post" action="{% url 'investsment_delete' pk=investment.pk %}" class="left-auto">
                                {% csrf_token %}
                                <button type="submit">❌</button>
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="investment">
                        <img class="filetype" src="{{ investment.get_image }}">
                        <div class="investment-text">
                            <a href="{% url 'investment_details' pk=investment.pk %}">{{ investment.get_filename }}</a>
                        </div>
                        <form method="post" action="{% url 'investsment_delete' pk=investment.pk %}" class="left-auto">
                            {% csrf_token %}
                            <button type="submit">❌</button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        <div class="empty"></div>
        <a class="auth-btn" href="{% url 'material_details' pk=pk %}">End creation/updating</a>
    </div>
</div>
{% endblock %}