{% extends 'base.html' %}

{% block content %}
{% load customtags %}
    <!-- {% elif investment.media.url|endswith: ".ogg" %}
        <audio controls>
            <source src="{{ investment.media.url }}" type="audio/ogg">
        </audio>
    {% elif investment.media.url|endswith: ".acc" %}
        <audio controls>
            <source src="{{ investment.media.url }}" type="audio/acc">
        </audio>
    {% elif investment.media.url|endswith: ".wav" %}
        <audio controls>
            <source src="{{ investment.media.url }}" type="audio/wav">
        </audio> -->
{% endblock %}