{% extends 'base.html' %}
{% load customtags %}

{% block content %}
{% if investment.media %}
    {% if investment.media.url|is_document %}
        <a src="{{ investment.media.url }}" class="full-investment"></a>
    {% elif investment.media.url|is_image %}
        <img src="{{ investment.media.url }}" class="full-investment">
    {% elif investment.media.url|is_video %}
        <video controls class="full-investment">
            <source src="{{ investment.media.url }}" type="video/mp4"></source>
        </video>
    {% elif investment.media.url|is_audio %}
        <audio controls>
            <source src="{{ url }}">
            Your browser does not support the audio.
        </audio>>
    {% endif %}
{% endif %}
{% endblock %}