html, body {
    height: 100%;
    overflow-y: scroll; 
    background: linear-gradient(160deg, #eae1ff, #afd1ff);
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 130px;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar.collapsed {
    width: 4%;
    height: 9%;
    background-color: unset;
}

.sidebar .toggle-btn {
    background: none;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: left;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar.collapsed ul {
    display: none;
}

.sidebar ul li a,
.sidebar ul li span {
    display: block;   
    width: 100%;            
    color: white;
    text-decoration: none;
}

.sidebar.collapsed ul li span {
    display: none;
}

.sidebar ul li {
    padding: 1rem;
    transition: background 0.2s;
}

.sidebar ul li:hover {
    background-color: #34495e;
}

.sidebar .toggle-btn {
    background: none;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }

.sidebar.collapsed ~ .main-content {
    margin-left: 60px;
}

.no-transition {
    transition: none !important;
  }