{% extends 'base.html' %}

{% block content %}
<div class="auth-content">
    <h1>{{ user.username }}</h1>
    <h3>Name: {{ user.first_name }} {{ user.last_name }}</h3>
    <h3>Email: {{ user.email }}</h3>
    <h3>Years old:{{ portfolio.years_old }} years</h3>
    {% if portfolio.image.url is not None %}
        <img src="{{ portfolio.image.url }}" class="">
    {% else %}
        <img src="{% static 'img/no_photo.png' %}">
    {% endif %}
    <p class="">{{ portfolio.description }}</p>
</div>
{% endblock %}