{% extends 'base.html' %}

{% block content %}
    <h1>Добро пожаловать на форум!</h1>
    <h2>Создать новую тему</h2>
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'forum_create_thread' %}">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Название темы" required>
            <input type="text" name="content" placeholder="Детали темы">
            <button type="submit">Создать</button>
        </form>
        <hr>
        <h2>Темы:</h2>
        <ul>
            {% for thread in threads %}
                <li><a href="{% url 'thread_details' thread.id %}">{{ thread.title }}</a> ({{ thread.created_at|date:"d.m.Y H:i" }})</li>
            {% empty %}
                <li>Тем пока нет. Будь первым!</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3><a href="{% url 'user_login_menu' %}">Зарегистрируйтесь что бы создать трэд!<a/></h3>
        <h2>Темы:</h2>
        <ul>
            {% for thread in threads %}
                <li><a href="{% url 'thread_details' thread.id %}">{{ thread.title }}</a> ({{ thread.created_at|date:"d.m.Y H:i" }})</li>
            {% empty %}
                <li>Тем пока нет. Будь первым!</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}