{% load static %}
<div class="post-list">
  {% for post in posts %}
  <div class="margin-top">
    {% if post.parent == parent %}
        <div class="forum-author-info">
          <span class="creator-nickname-color">{% with post_creator=post.created_by %}</span>
            {% with creator_portfolio=post_creator.portfolio %}
              {% if creator_portfolio.image %}
                <img src="{{ creator_portfolio.image.url }}" alt="avatar" width="25" height="25" class="user-image">
              {% else %}
                <img src="{% static 'img/no_photo.png' %}" alt="default avatar" width="25" height="25" class="user-image">
              {% endif %}
            {% endwith %}
          {% endwith %}
            <strong ><a href="{% url 'user_details' pk=post.created_by.id %}" class="creator-nickname-color">{{ post.created_by }}</a></strong>
            <span class="created-comment-time"> {{ post.created_at|timesince }} ago</span>
        </div>
          <p class="">{{ post.content }}</p>
          {% if post.attachment %}
          {% with post.attachment.url|lower as file_url %}
            {% if ".jpg" in file_url or ".jpeg" in file_url or ".png" in file_url or ".gif" in file_url %}
              <img src="{{ post.attachment.url }}" alt="Image" class="attachment-img">
            {% else %}
              <p><a href="{{ post.attachment.url }}" download class="attachment-link">📎 Cкачати прикріплений файл</a></p>
            {% endif %}
          {% endwith %}
          {% endif %}

          <a href="#" class="reply-toggle" onclick="document.getElementById('reply-form-{{ post.id }}').style.display = 'block'; return false;">↩️ Відповісти</a>

          <div id="reply-form-{{ post.id }}" class="reply-form hidden mt-2">
            <form method="post" enctype="multipart/form-data" class="space-y-2">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="hidden" name="parent" value="{{ post.id }}">
              <button type="submit" class="btn btn-secondary">Надіслати</button>
            </form>
        </div>
        {% include 'forum/forum_post_tree.html' with posts=posts parent=post form=form %}
    {% endif %}
  </div>
  {% endfor %}
</div>