{% extends 'base.html' %}

{% block content %}
  <div class="forum-main-content">
    <p><span style="font-size: 25px;">{{ thread.created_by }}</span> <span class="created-time">• {{ thread.created_at|timesince }} ago</span> <a href="{% url 'forum_confirm_delete' thread.id %}">DELETE THREAD</a></p> 
    <h1>{{ thread.title }}</h1>
    <p>{{ thread.content }}</p>
    <hr>
    {% if request.user.is_authenticated %}
    <h3>Залишити відповідь:</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Відправити</button>
    </form>
    {% else %}
      <p><a href="{% url 'login' %}">Увійдіть</a>, щоб залишити відповідь.</p>
    {% endif %}
    <hr>
    <h2>Comments:</h2>
    {% include 'forum/forum_post_tree.html' with posts=all_posts parent=None form=form %}
  </div>
{% endblock %}
