{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
{% include "forum/forum_redirect.html" %}
   <div class="forum-main-content">
      <div class="forum-author-info">
        {% with thread_creator=thread.created_by %}
          {% with creator_portfolio=thread_creator.portfolio %}
            {% if creator_portfolio.image %}
              <img src="{{ creator_portfolio.image.url }}" alt="avatar" width="40" height="40" class="user-image">
            {% else %}
              <img src="{% static 'img/no_photo.png' %}" alt="default avatar" width="40" height="40" class="user-image">
            {% endif %}
          {% endwith %}
        {% endwith %}
        <a href="{% url 'user_details' pk=thread.created_by.id %}">{{ thread.created_by }}</a>
        <div class="created-time" > • {{ thread.created_at|timesince }} ago</div>
        {% if thread.created_by%}
        <a href="{% url 'forum_confirm_delete' thread.id %}" class="text-red hover:text-red" style="margin-left: auto;">🗑 Видалити треад</a>
        {% else %}
        {% endif %}
      </div>
      <div class="forum-descritpion">
        <h1>{{ thread.title }}</h1>
        <div class="formatted-content">{{ thread.content|markdownify }}</div>
          {% if thread.attachment %}
            {% with thread.attachment.url|lower as file_url %}
                {% if ".jpg" in file_url or ".jpeg" in file_url or ".png" in file_url or ".gif" in file_url %}
                <img src="{{ thread.attachment.url }}" alt="Image" class="attachment-img">
                {% endif %}
            {% endwith %}
          {% endif %}
      </div>

    {% if request.user.is_authenticated %}
      <div class="forum-reply-box">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group">
            {{ form.content.errors }}
            {{ form.content }}
          </div>
          
          <div class="custom-file-upload">  
            {{ form.attachment.errors }}
            <input type="file" name="attachment">
            📎 Прикріпити файл
          </div>
          {{ form.parent }} 
          <button type="submit" class="reply-submit">Відправити</button>
        </form>
      </div>
    {% else %}
      <p>
        <a href="{% url 'login' %}" class="login-link">Увійдіть</a>, щоб залишити відповідь.
      </p>
    {% endif %}
    <div>
      <h2>Коментарі:</h2>
      <div class="space-y-4">
        {% include 'forum/forum_post_tree.html' with posts=all_posts parent=None form=form %}
      </div>
    </div>

  </div>
{% endblock %}
