{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "forum/forum_redirect.html" %}
<div class="thread-create-container">
    <h2>Create thread</h2>
  <form method="post" action="{% url 'forum_creation_thread' %}" enctype="multipart/form-data" class="thread-form">
    {% csrf_token %}

    <input type="text" id="title" name="title" placeholder="Назва треда" required class="thread-input" maxlength="300">
    <div id="title-char-count" class="char-counter">300/300</div>

    <textarea id="content" name="content" placeholder="Опис або перше повідомлення…" 
    rows="5" class="thread-textarea"></textarea>

    

    <label class="custom-file-upload">
      📎 Прикріпити файл
      <input type="file" name="attachment">
    </label>

    <div class="thread-form-buttons">
      <a href="{% url 'forum_main_page' %}" class="auth-btn danger">Скасувати</a>
      <button type="submit" class="auth-btn primary">Створити</button>
    </div>
  </form>
</div>

<script>
    
</script>
{% endblock %}